<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cscb07projectcode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cscb07projectcode">
        <activity
            android:name=".Activities.EditProductActivity"
            android:parentActivityName=".Activities.StoreOwnerMainActivity" />
        <activity
            android:name=".Activities.CustomerOrderActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddProductActivity"
            android:parentActivityName=".Activities.StoreOwnerMainActivity" />
        <activity
            android:name=".Activities.StoreOwnerMainActivity"
            android:parentActivityName=".Activities.LoginStoreOwnerActivity" />
        <activity
            android:name=".Activities.CustomerMainActivity"
            android:parentActivityName=".Activities.LoginCustomerActivity" />
        <activity
            android:name=".Activities.RegisterCustomerActivity"
            android:exported="false"
            android:label="Customer Sign Up"
            android:parentActivityName=".Activities.LoginCustomerActivity" />
        <activity
            android:name=".Activities.LoginCustomerActivity"
            android:exported="false"
            android:label="Customer Login"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.RegisterStoreOwnerActivity"
            android:exported="false"
            android:label="Store Owner Sign Up"
            android:parentActivityName=".Activities.LoginStoreOwnerActivity" />
        <activity
            android:name=".Activities.LoginStoreOwnerActivity"
            android:exported="false"
            android:label="Store Owner Login"
            android:parentActivityName=".Activities.MainActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Activities.MainActivity" />

        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>